Repository hed-standard/hed-javascript, pull requests merged in 2024-09, with the labels that each got.

#189 Started the implementation of special tag handling
  .gitignore
  common/issues/data.js
  spec_tests/jsonTests.spec.js
  validator/event/special.js
  validator/event/specialTags.json
  validator/event/validator.js
  validator/specialTags.json
Labels: tests, hed 3, validation

#192 Fix duplicate tag check
  parser/parsedHedGroup.js
  tests/event.spec.js
  validator/event/validator.js
Labels: bug, tests, hed 3, hed 2, validation

#193 Fix sidecar syntax issues
  bids/types/json.js
  bids/types/tsv.js
  bids/validator/bidsHedSidecarValidator.js
  common/issues/data.js
  spec_tests/jsonTests.spec.js
  tests/bids.spec.js
Labels: bug, bids, tests

#194 Fix bug with tag group equivalence that was causing tests to fail
  bids/validator/bidsHedTsvValidator.js
  parser/parsedHedGroup.js
  spec_tests/jsonTests.spec.js
Labels: bug, hed 3, hed 2, validation
