Repository hed-standard/hed-javascript, pull requests merged in 2025-07, with the labels that each got.

#443 Added latest schemas to bundled schemas
  src/data/schemas/HED_lang_1.1.0.xml
  src/data/schemas/HED_score_2.1.0.xml
  src/data/schemas/HED_testlib_1.0.2.xml
  src/data/schemas/HED_testlib_2.0.0.xml
  src/schema/config.js
Labels: tests, schema

#444 Worked through issues in BidsSidecar
  src/bids/types/json.js
  src/issues/data.js
  src/issues/issues.js
  tests/otherTests/bidsIssues.spec.js
  tests/otherTests/issueParameters.spec.js
Labels: quality, bids, tests, issues, javascript

#448 Updated for qtly and continuing working on errors
  .github/workflows/deploy-pages.yml
  .github/workflows/tests.yml
  README.md
  jest.config.js
  src/bids/types/json.js
  src/issues/data.js
  src/parser/parsedHedColumnSplice.js
  src/schema/parser.js
  src/schema/schemaMerger.js
  tests/otherTests/dataset.spec.js
  tests/otherTests/datasetParser.spec.js
  tests/otherTests/issueParameters.spec.js
Labels: quality, tests, issues, javascript

#456 Updated tsv and definition manager errors
  src/bids/types/json.js
  src/bids/types/tsv.js
  src/bids/validator/tsvValidator.js
  src/parser/definitionManager.js
  tests/jsonTestData/definitionManagerCreationTests.data.js
  tests/jsonTestData/definitionManagerValidationTests.data.js
  tests/jsonTests/definitionManagerCreationTests.spec.js
  tests/jsonTests/definitionManagerValidationTests.spec.js
Labels: tests, issues, javascript

#457 Updated error messages to include the context in most cases
  src/bids/types/issues.js
  src/bids/types/json.js
  src/issues/issues.js
  tests/jsonTestData/bidsTests.data.js
  tests/jsonTests/bidsTests.spec.js
Labels: tests, issues, javascript

#459 Continued updating more detailed messages for single tags
  src/issues/data.js
  src/parser/parsedHedTag.js
  src/parser/tagConverter.js
  tests/jsonTestData/bidsTests.data.js
  tests/jsonTestData/definitionManagerValidationTests.data.js
  tests/jsonTestData/stringParserTests.data.js
  tests/jsonTestData/tagParserTests.data.js
Labels: quality, tests, parsing, issues

#460 Continued to work on improving specificity of error messages
  src/issues/data.js
  src/parser/definitionManager.js
  src/parser/tagConverter.js
  tests/jsonTestData/bidsTests.data.js
  tests/jsonTestData/definitionManagerCreationTests.data.js
  tests/jsonTestData/stringParserTests.data.js
  tests/jsonTestData/tagParserTests.data.js
Labels: quality, bids, tests, issues, javascript

#470 Restore NPM publish GitHub Action accidentally deleted earlier
  .github/workflows/publish.yml
Labels: repo-management

#471 Updated the README
  README.md
  src/utils/files.js
Labels: docs, repo-management

#479 Move version spec parsing to Schema(s)Spec classes
  src/bids/schema.js
  src/schema/init.js
  src/schema/specs.js
  src/utils/string.js
  tests/jsonTests/schemaSpecTests.spec.js
  tests/otherTests/schema.spec.js
Labels: bids, tests, schema, utils

#480 Fix Qlty settings location
  .qlty/.gitignore
  .qlty/configs/.yamllint.yaml
  .qlty/qlty.toml
Labels: repo-management

#481 Re-create Qlty configuration from defaults
  .qlty/qlty.toml
Labels: quality, repo-management

#508 Remove unused dependencies
  package-lock.json
  package.json
Labels: dependencies, repo-management
